*{
    box-sizing: border-box;
}
body{
    background: #15ee93;
}
#back{
    background: white;
    display: flex;
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    height: 600px;
    width: 900px;
}
#account_form{
    width: 100%;
    padding: 5% 10%;
}
h2{
    text-align: center;
}