*{
    box-sizing: border-box;
}
body{
    background: #828282;
    font-family: 'Amaranth', sans-serif;
}
#back{
    background: white;
    display: flex;
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    height: 550px;
    width: 500px;
}
#forget_form{
    width: 100%;
    padding: 5% 10%;
}
h2{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}
#error_show{
    text-align: center;
}
button{
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
