/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2017/11/16, 下午 01:45:39
    Author     : Andy_Wang
*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #828282;
}
label{
    margin: 0;
    font-family: 'Amaranth', sans-serif;
}
h2{
    font-family: 'Orbitron', sans-serif;
    word-spacing: 10px;
    font-size: 2em;
    text-align: center;
    color: #00A600;
    margin: 8% 0;
}
a{
    color: #5b5b5b;
    font-size: 1em;
}
button{
    font-family: 'Amaranth', sans-serif;
    color: white;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cover_login{
    width: 30%;
    padding: 3% 5%;
}
.cover_background{
    display: flex;
    background: #cf99ff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 562px;
    width: 1250px;
}
img{
    width: 100%;
}
#error_show{
    color: red;
    text-align: center;
}
.form-group{
    text-align: center;
}